<style>
   #notification-button {            
            position: relative;
            width: 42px;
            top:1px;
            right: 1px;
            overflow: visible!important;
        }


   #notifications-badge {
            background-color: #990066;
            position: absolute;
            top: -3px;
            right: -3px;
            border-radius: 100%;
        }
</style>



    
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meals</ion-title>

    <ion-buttons end> 
    <button id="notification-button" ion-button >
        <ion-icon name="cart">
          <ion-badge id="notifications-badge" *ngIf="totalMeals>0" >{{totalMeals}}</ion-badge>
        </ion-icon>              
    </button>


   </ion-buttons>
   
  </ion-navbar>

  <ion-toolbar no-border-top >
      <ion-card>
          <ion-card-content>
              <div style="text-align:center; font-family: 'Learning Curve' !important; font-size:2em; font-weight:bold;" color="primary">Plan: 2 meals per day (14 | week)</div>
          </ion-card-content>
        
        </ion-card>
      </ion-toolbar>
  <ion-toolbar no-border-top >
      <ion-segment [(ngModel)]="poolSegment" >
          <ion-segment-button value="presale">
            Entrees
          </ion-segment-button>
          <ion-segment-button value="crowdsale">
              Breakfast
            </ion-segment-button>
        </ion-segment>
      </ion-toolbar>

     
      
     
</ion-header>
<ion-content class="card-background-page">


    <ion-fab top right edge>
   
       
        <ion-fab-list>
          <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>

    
    <div [ngSwitch]="poolSegment">
    
        <ion-list *ngSwitchCase="'presale'">
        <!-- <ion-card   *ngFor="let ico of icoList | async" (click)="itemTapped($event,ico)"> -->
            <ion-card   *ngFor="let meal of icoList | async" >
            <img style="width:100%;max-height:50%" src="{{meal.img}}" (click)="itemTapped($event,meal)"/>
            <ion-card-content>
              <ion-card-title>
                  {{meal.title}}
                </ion-card-title>
              <p (click)="itemTapped($event,meal)">
                {{meal.description | slice:0:100}} ...Read more
              </p>
            </ion-card-content>

            <ion-row no-padding>
                <ion-col>
                  <button ion-button clear small color="primary" icon-start>
                    <ion-icon *ngFor="let i of [0,1,2]" name='star'></ion-icon><ion-icon name='star-half'></ion-icon>
                    <!-- <img src="https://res.cloudinary.com/freshly/image/upload/badge_icon_soy_free.png" alt="Soy Free"> -->

                  </button>
                </ion-col>
                <ion-col text-center>
                  <button ion-button clear small color="primary" icon-start>
                    <ion-icon name="speedometer"></ion-icon>
                    {{meal.cals}} calories
                  </button>
                </ion-col>
                <ion-col text-right>
                  <button ion-button clear small color="primary" icon-start>
                     <ion-icon name="flame" style="color:red"></ion-icon>
                     Hot
                  </button>
                </ion-col>
              </ion-row>


            <!-- <ion-grid> -->
                <ion-row>
                    <ion-col col-1></ion-col>

                  <ion-col col-2> <button ion-button outline (click)="decrement(meal)">
                      <ion-icon name="remove"></ion-icon>
                    </button>
                  </ion-col>
                  <ion-col col-6><div style="text-align:center"><button ion-button round>{{meal.count}}</button></div></ion-col>
                  <ion-col col-2> <button ion-button outline (click)="increment(meal)">
                      <ion-icon name="add"></ion-icon>
                    </button>
                  </ion-col>
                  <ion-col col-1></ion-col>
                </ion-row>

                <ion-item>
                    <ion-label  style="    font-size: 1.4rem;
                    color: #666;"> {{mealSize}}</ion-label>
                    <ion-toggle color="energized" [(ngModel)]="isToggled" (ionChange)="notify()"></ion-toggle>
                  </ion-item>

                <button  ion-button block  (click)="openModal(itemDetails)">Add to Cart</button>
                
              <!-- </ion-grid> -->

         
          
          </ion-card>
          </ion-list>



          <ion-list *ngSwitchCase="'crowdsale'">
          <ion-card   *ngFor="let ico of icoList | async" (click)="itemTapped($event,ico)">
              <img style="width:100%;max-height:50%" src="{{ico.picUrl}}"/>
              <ion-card-content>
                <ion-card-title>
                    {{ico.title}}
                  </ion-card-title>
                <p>
                  {{ico.description | slice:0:200}} ...
                </p>
              </ion-card-content>
              <ion-row no-padding>
                  <ion-col>
                    <button ion-button clear small color="danger" icon-start>
                      <ion-icon name='star'></ion-icon>
                      Favorite
                    </button>
                  </ion-col>
                  <ion-col text-center>
                    <button ion-button clear small color="danger" icon-start>
                      <ion-icon name='musical-notes'></ion-icon>
                      Listen
                    </button>
                  </ion-col>
                  <ion-col text-right>
                    <button ion-button clear small color="danger" icon-start>
                      <ion-icon name='share-alt'></ion-icon>
                      Share
                    </button>
                  </ion-col>
                </ion-row>
            
            </ion-card>
          </ion-list>
    </div>

     


       


    
    </ion-content>