<style>
   #notification-button {            
            position: relative;
            width: 42px;
            top:1px;
            right: 1px;
            overflow: visible!important;
        }


   #notifications-badge {
            background-color: #990066;
            position: absolute;
            top: -3px;
            right: -3px;
            border-radius: 100%;
        }
</style>


<ion-slides pager>
    
      <ion-slide style="background-color: green">
        <h2>Slide 1</h2>
      </ion-slide>
    
      <ion-slide style="background-color: blue">
        <h2>Slide 2</h2>
      </ion-slide>
    
      <ion-slide style="background-color: red">
        <h2>Slide 3</h2>
      </ion-slide>
    
    </ion-slides>
    
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Upcoming ICOs</ion-title>

    <ion-buttons end> 
    <button id="notification-button" ion-button >
        <ion-icon name="cart">
          <ion-badge id="notifications-badge" >1</ion-badge>
        </ion-icon>              
    </button>


   </ion-buttons>
   
  </ion-navbar>

  <ion-toolbar no-border-top >
      <ion-segment [(ngModel)]="poolSegment" >
          <ion-segment-button value="presale">
            Entrees
          </ion-segment-button>
          <ion-segment-button value="crowdsale">
              Breakfast
            </ion-segment-button>
        </ion-segment>


      
      </ion-toolbar>
</ion-header>
<ion-content class="card-background-page">


    <ion-fab top right edge>
   
       
        <ion-fab-list>
          <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>

    
    <div [ngSwitch]="poolSegment">
    
        <ion-list *ngSwitchCase="'presale'">
        <ion-card   *ngFor="let ico of icoList | async" (click)="itemTapped($event,ico)">
            <img style="width:100%;max-height:50%" src="{{ico.img}}"/>
            <ion-card-content>
              <ion-card-title>
                  {{ico.title}}
                </ion-card-title>
              <p>
                {{ico.description | slice:0:200}} ...
              </p>
            </ion-card-content>
            <ion-row no-padding>
                <ion-col>
                  <button ion-button clear small color="primary" icon-start>
                    <ion-icon name='star'></ion-icon>
                    Favorite
                  </button>
                </ion-col>
                <ion-col text-center>
                  <button ion-button clear small color="primary" icon-start>
                    <ion-icon name="flame"></ion-icon>
                    Spicy
                  </button>
                </ion-col>
                <ion-col text-right>
                  <button ion-button clear small color="primary" icon-start>
                    <ion-icon name='share-alt'></ion-icon>
                    Share
                  </button>
                </ion-col>
              </ion-row>
          
          </ion-card>
          </ion-list>



          <ion-list *ngSwitchCase="'crowdsale'">
          <ion-card   *ngFor="let ico of icoList | async" (click)="itemTapped($event,ico)">
              <img style="width:100%;max-height:50%" src="{{ico.picUrl}}"/>
              <ion-card-content>
                <ion-card-title>
                    {{ico.title}}
                  </ion-card-title>
                <p>
                  {{ico.description | slice:0:200}} ...
                </p>
              </ion-card-content>
              <ion-row no-padding>
                  <ion-col>
                    <button ion-button clear small color="danger" icon-start>
                      <ion-icon name='star'></ion-icon>
                      Favorite
                    </button>
                  </ion-col>
                  <ion-col text-center>
                    <button ion-button clear small color="danger" icon-start>
                      <ion-icon name='musical-notes'></ion-icon>
                      Listen
                    </button>
                  </ion-col>
                  <ion-col text-right>
                    <button ion-button clear small color="danger" icon-start>
                      <ion-icon name='share-alt'></ion-icon>
                      Share
                    </button>
                  </ion-col>
                </ion-row>
            
            </ion-card>
          </ion-list>
    </div>

     


       


    
    </ion-content>