page-plans {
    .card-background-page {
        
          ion-card {
            position: relative;
            text-align: center;
          }
        
          .card-title {
            position: absolute;
            top: 16%;
            font-size: 6.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
          }
        
          .card-subtitle {
            font-size: 1.5em;
            font-weight: bold;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
            // font-family: 'LearningCurve'
          }
          .card-sub-subtitle {
            font-size: 1.3em;
            font-weight: bold;
            position: absolute;
            top: 72%;
            width: 100%;
            color: #fff;
            // font-family: 'LearningCurve'
          }
        
        }

}
