<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CMA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-header style="text-align:center;" (click)="populateForm()">
          <strong>Find Comparable Sales:</strong>
        </ion-card-header>
        <ion-card-content>

            <ion-item>
                <ion-label fixed>Address:</ion-label>
                <ion-input type="text" name [(ngModel)]="orderId" name="orderid" class="form-control" required minlength="20" #orderid="ngModel"></ion-input>
              </ion-item>

              <div *ngIf="orderid.invalid && (orderid.dirty || orderid.touched)" class="alert alert-danger">
                  <div *ngIf="orderid.errors.required">
                    Order id is required.
                  </div>
                  <div *ngIf="orderid.errors.minlength">
                    Order id is at least 20 characters long.
                  </div>
                </div>
        </ion-card-content>
      </ion-card>
      <button ion-button block (click)="getOrderStatus()"  [disabled]="orderid.invalid" >Run Comps</button>

     
      <ion-list>

          <ion-card *ngIf="cartItems">
           <div style="text-align:center">
                  <ion-row>
                      <ion-col>
                          <ion-item>
                              <ion-label fixed><strong>Total Meals:</strong></ion-label>
                              <ion-label fixed>{{totalMeals}}</ion-label>
                            </ion-item>
                      </ion-col>
                      <ion-col>

                          <ion-item>
                              <ion-label fixed><strong>Amount:</strong></ion-label>
                              <ion-label fixed>${{totalAmt}}</ion-label>
                            </ion-item>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>
                          <ion-item>
                              <ion-label fixed><strong>Order Status:</strong></ion-label>
                              <ion-label fixed>{{orderStatus}}</ion-label>
                            </ion-item>
                      </ion-col>
                      <ion-col>
                          <ion-item>
                              <ion-label fixed><strong>Order Date:</strong></ion-label>
                              <ion-label fixed>{{orderDate | date}}</ion-label>
                            </ion-item>
                      </ion-col>
                  </ion-row>
                   
                </div>
                   
                  
    
          </ion-card>
          <ion-item text-wrap *ngFor="let item of cartItems ">
            <ion-thumbnail item-start>
              <img src="{{item.img}}">
            </ion-thumbnail>
            <h2>{{item.name}}</h2>
            <p>{{item.cals}} calories </p>
            <p *ngIf="item.bfast">
              <ion-icon name="cafe"></ion-icon>
            </p>
      
            <p item-end>
              <ion-row>
                4 oz x {{item.count4oz}}
              </ion-row>
              <ion-row>
                8 oz x {{item.count8oz}}
              </ion-row>
            </p>
      
      
          </ion-item>
        
      
      
      
        </ion-list>


</ion-content>