<style>

  .inputclass {
    margin: 13px 8px;
    padding: 0;
    width: calc(100% - 8px - 8px);
    position: static;
    display: block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR…fnQ8EtFRdFneBDKWhCW8EVGbdUQfxESR6qKhaHBrSgCe3fbLTpPlS70M0AAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
    cursor: auto;
  }
</style>

<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CMA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form name="myform">
    <ion-card>
        <ion-card-header style="text-align:center;" (click)="populateForm()">
          <strong>Find Comparable Sales:</strong>
        </ion-card-header>
        <ion-card-content>


          <input type="text" class="inputclass form-control" [(ngModel)] = "location" placeholder=" Enter a Location"
          [options]='options' name="addressField" #addressField="ngModel" (ngModelChange)="textAreaEmpty()"
          (setAddress) = "getAddress($event)"
          (FormatAddress)="getFormattedAddress($event)"
          (street_number) = 'street_number=$event'
          (street)= 'street=$event'
          (city)= 'city=$event'
          (state)='state=$event'
          (district)='district=$event'
          (country)='country=$event'
          (postal_code)='postal_code=$event'
          (lat)='lat=$event' 
          (lng)='lng=$event' 
          (adr_address)='adr_address=$event' 
          (name)='name=$event' 
          (place_id)='place_id=$event' 
          (types)='types=$event' 
          (url)='url=$event'  
          (utc_offset)='utc_offset=$event' 
          (vicinity)='vicinity=$event' 
          (photos)='photos=$event' 
          (CountryCodes)='CountryCodes=$event'
           id="autocomplete" required
          angularGooglePlace/>

            <!-- <ion-item>
                <ion-label fixed>Address:</ion-label>
                <ion-input type="text" name [(ngModel)]="orderId" name="orderid" class="form-control" required minlength="20" #orderid="ngModel"></ion-input>
                
              </ion-item>

              <div *ngIf="orderid.invalid && (orderid.dirty || orderid.touched)" class="alert alert-danger">
                  <div *ngIf="orderid.errors.required">
                    Order id is required.
                  </div>
                  <div *ngIf="orderid.errors.minlength">
                    Order id is at least 20 characters long.
                  </div>
                </div> -->
        </ion-card-content>
      </ion-card>
      <button ion-button block (click)="getOrderStatus()"  [disabled]="!addressSet" >Run Comps</button>
</form>

     
      <ion-list>

          <ion-card *ngIf="cartItems">
           <div style="text-align:center">
                  <ion-row>
                      <ion-col>
                          <ion-item>
                              <ion-label fixed><strong>Total Meals:</strong></ion-label>
                              <ion-label fixed>{{totalMeals}}</ion-label>
                            </ion-item>
                      </ion-col>
                      <ion-col>

                          <ion-item>
                              <ion-label fixed><strong>Amount:</strong></ion-label>
                              <ion-label fixed>${{totalAmt}}</ion-label>
                            </ion-item>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>
                          <ion-item>
                              <ion-label fixed><strong>Order Status:</strong></ion-label>
                              <ion-label fixed>{{orderStatus}}</ion-label>
                            </ion-item>
                      </ion-col>
                      <ion-col>
                          <ion-item>
                              <ion-label fixed><strong>Order Date:</strong></ion-label>
                              <ion-label fixed>{{orderDate | date}}</ion-label>
                            </ion-item>
                      </ion-col>
                  </ion-row>
                   
                </div>
                   
                  
    
          </ion-card>
          <ion-item text-wrap *ngFor="let item of cartItems ">
            <ion-thumbnail item-start>
              <img src="{{item.img}}">
            </ion-thumbnail>
            <h2>{{item.name}}</h2>
            <p>{{item.cals}} calories </p>
            <p *ngIf="item.bfast">
              <ion-icon name="cafe"></ion-icon>
            </p>
      
            <p item-end>
              <ion-row>
                4 oz x {{item.count4oz}}
              </ion-row>
              <ion-row>
                8 oz x {{item.count8oz}}
              </ion-row>
            </p>
      
      
          </ion-item>
        
      
      
      
        </ion-list>


</ion-content>